<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ asyncapi.info().title() }} {{ asyncapi.info().version() }} documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ params | generateBase64Favicon }}" />
    <link href="css/global.min.css" rel="stylesheet">
    <link href="css/asyncapi.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="root">{{ asyncapi | renderSpec(params) | safe }}</div>
    <script src="js/asyncapi-ui.min.js" type="application/javascript"></script>

    <script>
      var schema = {{ asyncapi | stringifySpec | safe }};
      var config = {{ params | stringifyConfiguration | safe }};
      AsyncApiStandalone.hydrate({ schema, config }, document.getElementById("root"));
    </script>
  </body>
</html>